@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root{
  height: 100%;
}


 
#home1{
  width: 32%;
  height:32%;
  position: absolute;
  z-index: -1;  
  left: 35%; top: 65%;
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#home{
  width: 30%;
  height:30%;
  position: absolute;
  z-index: -1;  
  left: 35%; top: 50%;
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animate{
  0%{border-radius: 0%; box-shadow: 0px 0px 10px rgb(224, 223, 223);}
  100%{border-radius: 50%; box-shadow: 0px 0px 10px rgb(224, 223, 223),
     0px 0px 20px rgb(224, 223, 223),
    0px 0px 30px rgb(224, 223, 223);}
}

 .name{
      text-align: center;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      justify-items: center;
        width: 96%; 
        padding: 0%;
       text-shadow: 3px 3px 8px rgb(214, 43, 185),
       0px 0px 16px rgb(197, 40, 197),
       0px 0px 32px rgb(197, 40, 197);
       color:white;
        font-size: 35px; margin: auto;
        box-sizing: border-box;
} 
#icon{ box-shadow: 0px 0px 8px lightskyblue;

}
#icon:hover{ box-shadow: 0px 0px 8px lightskyblue,
  0px 0px 16px  lightskyblue,
  0px 0px 32px lightskyblue;
 transition:1s  all;
}
#name-h{
    text-align: center;
    justify-items: center;
    width: 96%;
    padding: 0%; margin: auto;
    text-shadow: 3px 3px 8px rgb(145, 21, 228);
    color: white;
    font-size: 20px;
    box-sizing: border-box;
} 
span{ 
  font-size: 40px;
}

