@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root{
  height: 100%;
}


  /* :root {
  --background: #ffffff;
  --foreground: #171717;
} 

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
   color: var(--foreground);
  background: var(--background); 
  font-family: Arial, Helvetica, sans-serif;
} 


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}  
*/
#home1{
  width: 32%;
  height:32%;
  position: absolute;
  z-index: -1;  
  left: 35%; top: 65%;
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#home{
  width: 30%;
  height:30%;
  position: absolute;
  z-index: -1;  
  left: 35%; top: 30%;
  animation-name: animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animate{
  0%{border-radius: 0%; box-shadow: 0px 0px 10px rgb(224, 223, 223);}
  100%{border-radius: 50%; box-shadow: 0px 0px 10px rgb(224, 223, 223),
     0px 0px 20px rgb(224, 223, 223),
    0px 0px 30px rgb(224, 223, 223);;}
}

 .title{
      text-align: center;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      justify-items: center;
        width: 100%; 
        padding: 0%;
       text-shadow: 3px 3px 8px rgb(252, 24, 252),
       0px 0px 16px rgb(247, 14, 235),
       0px 0px 32px rgb(245, 4, 245);
       color:white;
        font-size: 40px;
        box-sizing: border-box;
} 
#icon{ box-shadow: 0px 0px 8px rgb(252, 24, 252),
  0px 0px 16px rgb(247, 14, 235),
  0px 0px 32px rgb(245, 4, 245);

}
#title-h{
  text-align: center;
  justify-items: center;
    width: 100%;
    padding: 0%;
   text-shadow: 3px 3px 8px rgb(145, 21, 228);
   color: white;
    font-size: 30px;
    box-sizing: border-box;
} 
span{ 
  font-size: 50px;
}
